@import "tailwindcss";

/* BioRhyme as default font for all text */
body,
* {
  font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif !important;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: "Abril Fatface", serif !important;
  font-weight: 400;
}

/* Apply Abril Fatface to headers only */

/* Hide scrollbar for features carousel */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
